<a href="https://colab.research.google.com/github/iamu985/tutorials/blob/main/tutorial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
This is a docstring.
It is a multiline comment where we can write whatever we want and the program won't do anything
'''

# A comment is denoted with  a hashtag '#' it is not multiline which means it cannot be written on multi lines like docstring

This is our first topic.<br>
# Array vs Tuple in python
- In python array is called list.
- The major difference between array or list and tuple is that the list or array is dynamic in nature and tuple is not dynamic in nature. It means we can change any items inside an array but we cannot change any items inside tuple.

In [ ]:
# Demo of array
name = ['frank', 'nischal', 'aaditya']
name_tuple = "frank", "nischal", "aaditya" # this is what sahitya wrote on her first attempt. What she thought was an array was actually a tuple.
print('Output')
print("Array: ", name)
print("Tuple: ", name_tuple )

Output
Array:  ['frank', 'nischal', 'aaditya']
Tuple:  ('frank', 'nischal', 'aaditya')

You can see the difference between an array and tuple. <br>
The array is started with [ ] big brackets and the tuple starts with ( ) parenthesis.<br>
In python there are many ways to do one thing.<br><br>
###<u> Declaring an Array<u>
We will go through two ways to declare an array in python.
- By using `list()` function
- By using `[]` box bracket.

In [ ]:
# list() function
array_list = list()

#[] box bracket
array_box = []
print('Output')
print("List Function: ", array_list)
print("Box Bracket: ", array_box)

Output
List Function:  []
Box Bracket:  []

### <u>Declaring Tuple</u>
Now we will see two methods to declare a tuple in python. <br>
- By using `()` parenthesis
- By straight variable define method

In [ ]:
# () parenthesis
tuple_parenthesis = ('frank', 'nischal', 'aaditya')

# straight variable define
tuple_variable = "frank", "nischal", "aaditya"

print('Output')
print('Parenthesis: ', tuple_parenthesis)
print("Straight: ", tuple_variable)

Output
Parenthesis:  ('frank', 'nischal', 'aaditya')
Straight:  ('frank', 'nischal', 'aaditya')

*Note that " " and ' ' is same in python. It makes no difference but you cannot use ' " or " ' it is illegal*

Now for a practical demonstration of tuple vs array.

In [ ]:
# tuple vs array
tuple_name = "frank", "aaditya", "nischal"
list_name = ['frank', 'aaditya', 'nischal']

#tuple is not dynamic
#array is dyanamic

# we can insert and delete elements in an array
# but we cannot insert or delete elements in tuple

list_name.append("sahitya")
list_name.append("treeja")
print(f"List: {list_name}") # I am using python string formatting, here f'' stands for format we will cover it later

tuple_name[0] = 'sahitya' #here i am trying to change frank to sahitya
print(f'Tuple: {tuple_name}') # but this will give out an error because we cannot change elements in tuple

List: ['frank', 'aaditya', 'nischal', 'sahitya', 'treeja']

TypeError: ignored

Here we had output for list or array but we received an error message for tuple because as we see in the error message tuple object does not support item assignment. Meaning we can't assign, change, insert or delete items from a tuple.

## For Loop
Syntax of for loop:<br>


```
for <variable_name> in <condition>:
  #do something
```
The tab here denotes an empty space block.
Always remember to indent in python, since it denotes the start of the block. Like in C we use { } curly brackets to denote a functioning block we do it with indentations in python.

```
// for loop in C printing number from 0 to 10
for (int i=0; i<= 10; i++){
    printf("%d", i);
}
```

```
# for loop in Python printing number from 0 to 10
for i in range(10):
  printf(i)
```

In [ ]:
# to print a range of 10 numbers
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# to print each elements in a list
fruits = ['apple', 'mango', 'pomogranate', 'watermelon', 'banana']
for fruit in fruits:
  print(fruit)

apple
mango
pomogranate
watermelon
banana

<p>In python every datatype is an object. What is an object, you ask? That will come later when we go through `class` and `object oriented programming`, for now just take my words as bible and believe that everything in python is an object.</p>
Now object consists of methods and functions. If I consider a pencil to be an object, its corresponding methods would be as such:<br>

*   Write Method
*   Erase Method (occassionally) if it has an eraser at the top.

We can describe pencil as an object that can write and can occasionally erase if the condition is met.<br>
So as I mentioned every datatype is an object, a string, an integer, a float, an array or list, everything is an object. And every object has its own sets of functions and methods.

### <u>Functions and Methods of an Array Object</u>
In an array we can do CRUD quite easily, CRUD stands for Create, Read, Update and Delete. Every data storing datatype must be able to perform CRUD operations. 

#### **C or Create in Array**
Any array can be empty in python at start or it can have some custom data values initially. To declare an empty array just give a variable name and [ ] box brackets.

```
array = []
```

#### **R or Read in Array**
Values from array can be read by accessing the index or location of the item in the array.

```
name = ['frank', 'nischal', 'aaditya']

# indexing always starts from 0
# here the first items location is 0 i.e. frank , 1 i.e. nischal and so on.

# to access third item
print(name[2])

#outputs 'aaditya'
```

#### **U or Update in Array**
To update or insert items in an array or list in python, we have `.append` method.

```
name = ['frank']
name.append('nischal')
print(name)

# outputs: ['frank', 'nischal']

```

`append` method takes only single argument and that argument can be of any data type. It can be a `string`, an `integer` or a `float`, It can even take `array` as an argument, meaning we can easily store arrays inside an array.

```
# program to insert boys and girls array in student array

boys = ['frank', 'nischal', 'aaditya']
girls = ['sahitya', 'treeja', 'sang']
students = [] # an empty array

students.append(boys)
students.append(girls)
```

In [1]:
# Program to insert boys and girls array in student array
boys = ['frank', 'nischal', 'aaditya']
girls = ['sahitya', 'treeja', 'sang']
students = [] #empty array

#appending boys and girls in students
students.append(boys)
students.append(girls)

print(students)

[['frank', 'nischal', 'aaditya'], ['sahitya', 'treeja', 'sang']]